{% extends "activity_info/base.html" %}

{%- block subtitle %}Activity Info databases{% endblock -%}

{% block primary_content %}
<div class="internal-div-section">
    <h1>Activity Info databases</h1>

    <table id="activity-info-databases-list-table"
        class="table table-header table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th class="col-md-3">Database</th>
                <th class="col-md-1">Description</th>
                <th class="col-md-1">Suspended</th>
                <th class="col-md-1">Languages</th>
                <th class="col-md-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for database in databases %}
            <tr>
                <td>{{ database.label }}</td>
                <td>{{ database.description }}</td>
                <td>
                    {% if database.suspended %}
                    <span class="label label-danger">Suspended</span>
                    {% else %}
                    <span class="label label-primary">Active</span>
                    {% endif %}
                </td>
                <td>
                    {% for language in database.languages %}
                    {{ language }}
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary"
                        href="{{ h.url_for('activity_info.forms', database_id=database.databaseId) }}">
                        Get Forms
                    </a>
                    <a href="{{ database.url }}" target="_blank" class="btn btn-secondary">Open in ActivityInfo</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}