{% extends "activity_info/base.html" %}

{%- block subtitle %}Activity Info forms{% endblock -%}

{% block primary_content %}
<div class="internal-div-section">
    <h1>Activity Info forms for database {{ database_id }}</h1>

    <table id="activity-info-forms-list-table" class="table table-header table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th class="col-md-3">Form</th>
                <th class="col-md-1">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
            <tr>
                <td>{{ form.label }}</td>
                <td>{{ form.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}