{% extends "activity_info/base.html" %}

{%- block subtitle %}Activity Info forms{% endblock -%}

{% block primary_content %}
<div class="internal-div-section">
    <h1>Activity Info forms for database <i>{{ database.label }}</i></h1>

    <table id="activity-info-forms-list-table" class="table table-header table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th class="col-md-3">Form</th>
                <th class="col-md-1">Visibility</th>
                <th class="col-md-1">Description</th>
                <th class="col-md-1">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
            <tr>
                <td>{{ form.label }}</td>
                <td>{{ form.visibility }}</td>
                <td>{{ form.description }}</td>
                <td>
                    <a href="#" class="btn btn-primary">See created Dataset</a>
                    <a href="#" class="btn btn-primary">Create a Dataset</a>
                    <a href="{% url_for 'activity_info.form', database_id=database.databaseId, form_id=form.id %}" class="btn btn-primary">Get form Schema</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}